################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb
/.vs/pcdv-game-engine/v16/ipch/AutoPCH/e2b40d130d3b5073/LOG.ipch
